<p id="notice"><%= notice %></p>


<h1>タスクの詳細</h1>


<p>
  <strong>名前:</strong>
  <%= @task.user.name %>
</p>

<p>
  <strong>eメール:</strong>
  <%= @task.user.email %>
</p>


<p>
  <strong>タイトル:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>締切日:</strong>
  <%= @task.deadline.strftime("%Y年%m月%d日 %H時%M分") %>
</p>

<p>
  <strong>担当者:</strong>
  <%= @task.charge.name %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @task.status %>
</p>

<%= link_to 'タスクの編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path(@task.user) %>
